body {
  background-image: url(logo-png.png);
  background-repeat: no-repeat;
  background-position: 85% 60px;
  margin-bottom: 50px;
}

.header {
  width: 85%;
  height
}

html { font-size: 15px; }

body { width: 87.5%;
       margin-left: auto;
       margin-right: auto;
       font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 2rem;
     line-height: 1; }

h2 { font-style: italic;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 1.8rem;
     line-height: 1; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.5rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }

p.subtitle { font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article { position: relative;
          padding: 5rem 0rem; }

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.2rem; }

p { line-height: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0; }

div.epigraph > blockquote { margin-top: 3em;
                            margin-bottom: 3em; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

/* end chapter epigraphs styles */

blockquote { font-size: 1.4rem; }

blockquote p { width: 50%; }

blockquote footer { width: 50%;
                    font-size: 1.1rem;
                    text-align: right; }

ol, ul { width: 100%;
         -webkit-padding-start: 5%;
         -webkit-padding-end: 5%; }

li { padding: 0.5rem 0; }

#disclaimer {
  font: normal normal 13px;
  font-size: 16px;
  line-height: 21px;
  color: #777777;
  font-weight: bold;
  margin: 0px 0px 4px 0px;
  padding: 14px 0px;
  margin-top: 8px;
  border-bottom-width:1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-top-width:1px;
  border-top-color: black;
  border-top-style: solid;
}

.footer {
  background-color: white;
}
